// Place all the styles related to the api/lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
header.header {
	width: 100%;
	height: 32px;
	background: #0060BF;
}

.header-main {
	float: right;
	display: flex;
	justify-content: space-between;
	width: 83%;
}

.header-search {
	display: flex;
	justify-content: space-between;
	width: 40%;
	max-width: 365px;
	padding-top: 4px;
	margin: 0;
}

.header-search .search-button:after {
	content: "\f002";
	font-family: "FontAwesome";
	color: white;
}

.header-search .search-button {
	display: inline-flex;
	align-items: center;
	justify-content: space-around;
	height: 22px;
	width: 16%;
	border: 1px solid #3380CC;
	border-radius: 3px;
	margin-left: 5px;
	background: none;
	font-size: 14px;
}

.header-search input {
	display: inline-block;
	color: white;
	font-size: 12px;
	max-width: 300px;
	min-width: 250px;
	width: 80%;
	padding-left: 5px;
	height: 22px;
	border: 1px solid #3380CC;
	border-radius: 3px;
	background: #0060BF;
	-webkit-transition: background .2s ease-in-out;
	   -moz-transition: background .2s ease-in-out;
	    -ms-transition: background .2s ease-in-out;
	     -o-transition: background .2s ease-in-out;
	        transition: background .2s ease-in-out;
}

.header-search > *:hover {
	border: 1px solid #4d8dcb;
}

.header-search input:focus {
	background: white;
	color: black;
}

header.header *:focus::-webkit-input-placeholder {
	color: lightgrey;
}

header.header *:focus:-moz-placeholder {
    /* FF 4-18 */
    color: lightgrey;
}
header.header *:focus::-moz-placeholder {
    /* FF 19+ */
    color: lightgrey;
}
header.header *:focus:-ms-input-placeholder {
    /* IE 10+ */
    color: lightgrey;
}

header.header *::-webkit-input-placeholder {
    color: white;
}
header.header *:-moz-placeholder {
    /* FF 4-18 */
    color: white;
}
header.header *::-moz-placeholder {
    /* FF 19+ */
    color: white;
}
header.header *:-ms-input-placeholder {
    /* IE 10+ */
    color: white;
}


header .header-settings {
	position: absolute;
	display: flex;
	justify-content: space-between;
	right: 15px;
	width: 45px;
	padding-right: 3px;
	margin-right: 5px;
}

.header-settings > span {
	font-family: "FontAwesome";
	color:#99bfe4;
	font-size: 20px;
	cursor: pointer;
	padding: 6px;
	z-index: 9999;
}

.header-settings > span:hover {
	background: #1f7bd6;
}

.header-settings > .notifications:before {
	content: "\00f0a2";
	padding-right: 3px;
}

.header-settings > .settings:before {
	content: "\00f013";
}

.divider {
	display: inline-block;
	width: 0;
	height: 20px;
	margin-top: 5px;
	border-left: 1px solid rgb(0, 84, 166);
}


.header .dropdown {
	position: absolute;
	color: black;
	top: 32px;
	left: -8px;
	display: none;
	background: white;
	border: 1px solid lightgrey;
}

.header .dropdown > li {
	padding: 5px 15px;
	font-family: 'Helvetica Neue',Helvetica,Arial,'Apple Color Emoji',clean,sans-serif;
	font-size: 14px;
}

.header .dropdown li:first-child {
	border-bottom: 1px solid lightgrey;
}

.header .dropdown li:not(:first-child):hover {
	background: lightgrey;
}

.settings:hover > .dropdown {
	display: inline-block;
}

.app {
	background: #D9E7F5;
	height: 100%;
	z-index: -1;
}


.list {
	background: white;
	border-radius: 8px;
	width: calc(50% - 80px);
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	height: 94vh;
	display: inline-block;
}

.list-tabs {
	float: right;
	position: relative;
	display: flex;
	justify-content: space-between;
	top: 25px;
	width: 260px;
	padding-right: 10px;
}

.list-tabs > li {
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	padding: 3px;
	cursor: pointer;
	font-size: 15px;
}

.list-tabs > li.active {
	border-top: 1px dotted lightgrey;
	border-left: 1px dotted lightgrey;
	border-right: 1px dotted lightgrey;
	border-bottom: 2px solid white;
}

.list-tabs > li.inactive {
	color:  #0060BF;
}

.sort-select {
	border: none;
	width: 100px;
}

.task-form {
	border-top: 1px dotted lightgrey;
	// border-bottom: 1px dotted lightgrey;
	transition: height .2s ease-in;
	display: block;
}

.task-form > * {
	height: 30px;
	border-radius: 3px;
	padding: 5px;
	font-size: 15px;
}

.task-form > input {
	border: 1px solid lightgrey;
	margin: 15px;
	width: 70%;
	display: inline-block;
}

.task-form > button {
	display: inline-block;
	background: #2E8CEB;
	color: white;
	padding-left: 10px;
	padding-right: 10px;
}

.tasks > li {
	border-bottom: 1px solid lightgrey;
}

.tasks {
	border-top: 1px dotted lightgrey;
	overflow: hidden;
	height: 80%;
}

.tasks:hover {
	overflow-y: auto;
}

.tasks a {
	color: black;
	width: 100%;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px dotted lightgrey;
}

.tasks a > div {
	padding: 5px 0;
	width: 90%;
	display: flex;
	overflow-wrap: break-word;
	justify-content: flex-start;
}

.tasks a span {
	width: 90%;
}

.tasks a:hover {
	background: rgb(255, 253, 208);
}

.tasks a.active {
	background: rgb(255, 253, 208);
}

.priority {
	display: inline-block;
	width: 0;
	height: 100%;
	border-left: 2px solid lightgrey;
	margin-right: 5px;
	margin-left: 3px;
}




.priority-1, .task-detail .priority.priority-1 {
	border-left: 2px solid red;
}

.priority-2, .task-detail .priority.priority-2 {
	border-left: 2px solid blue;
}


.priority-3, .task-detail .priority.priority-3 {
	border-left: 2px solid lightblue;
}


.task .task-due {
	margin-right: 5px;
	font-size: 12px;
	color: grey;
	width: 100px;
}

.task.completed span {
	text-decoration: line-through;
}
// .task-form .add-task {
// 	display: none;
// }


// .task-form:focus + .add-task {
// 	display: block;
// }

.detail {
	border-radius: 8px;
	width: calc(47% - 90px);
	margin-top: 10px;
	height: 90vh;
	float: right;
}


.task-detail {
	position: absolute;
	right: 0;
	background: white;
}

.task-detail .priority {
	display: inline-block;
	width: 0;
	height: 24px;
	border-left: 2px solid lightgrey;
}

.task-detail > header {
	font-size: 20px;
	padding: 5px;
	margin: 3px;
}

.task-detail > .close {
	float: right;
	margin: 10px;
	color: grey;
	font-size: 12px;
	cursor: pointer;
}

.task-detail > .close:hover {
	color: black;
}

.task-detail > .task-summary {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	max-width: 500px;
}

.task-summary .value-name {
	display: inline-block;
	min-width: 100px;
	margin-left: 20px;
	font-size: 12px;
	color: grey;
}

.task-detail > .task-summary  span:first-child {
	width: 20%;
	margin-bottom: 15px;
}

.task-detail button {
	width: 80%;
	margin: 0 auto;
	background: #2E8CEB;
	padding: 5px;
	border-radius: 3px;
	color: white;
	font-size: 15px;
	margin-bottom: 15px;
}

.task-detail button.delete-task {
	background: red;
}


.task-input {
	margin-bottom: 15px;
	border: 1px solid white;
	border-radius: 3px;
	width: 40%;
	font-size: 14px;
	font-family: sans-serif;
}

.task-input.datepicker {
	width: 100px;
	margin-bottom: 0;
	padding: 3px;
}

.task-input:hover {
	border: 1px solid #66afe9;
	cursor: pointer;
}

.task-input:focus {
	border: 1px solid #66afe9;
}

.task-input.estimate {
	width: 10%;
}


header .task-input {
	width: 75%;
	font-size: 24px;
	resize: none
}

.tabs {
	height: 50px;
}



nav.sidebar {
	float: left;
	width: 185px;
	padding-bottom: 10px;
	height: 95vh;
}

.sidebar .list-name.bordered {
	border-bottom: 2px solid rgb(180, 208, 235);
}

.list-title {
	display: inline-block;
}

.list-title .arrow {
	display: inline-block;
	transform: rotate(0deg);
	transition: transform 500ms ease-in-out;
	margin-left: -3px;
}

.list-title .arrow.closed {
	transform: rotate(-450deg)
}

// .list-title span {
// 	transform: rotate(90deg);
// }

.modal-form-button {
	float: right;
	margin-right: 5px;
	background: none;
}

.modal-form-button > button {
	background: none;
	// border: 1px solid #0060BF;
	border-radius: 3px;
	width: 12px;
	height: 12px;
	padding: 0 0;
	background: url(http://dahlström.net/tmp/sharp-icons/svg-icon-target.svg#plus) no-repeat;
	// z-index: 2;
}

// .modal-form-button > button:hover > div {
// 	background: white;
// 	height: 10px;
// 	width: 10px;
// 	border-radius: 50%;
// 	z-index: -100;
// 	position: relative;
// 	content: " ";
// }


.list-options-dropdown {
	float: right;
	display: inline-block;
	height: 12px;
}

.list-dropdown {
	position: absolute;
	top: 14px;
	right: 0;
	border-radius: 2px;
	background: white;
	z-index: 100;
}

.list-dropdown > li {
	padding-bottom: 2px; 
	padding: 5px;
	cursor: pointer;
}

.list-dropdown > li:hover {
	background: lightgrey;
}

.hidden {
	display: none;
}

.list-name {
	position: relative;
}

.list-name a {
	color: black;
	width: 84%;
	display: inline-flex;
	justify-content: space-between;
}

.list-name a > span:nth-child(2) {
	border-radius: 3px;
	background: rgb(180, 205, 235);
	min-width: 20px;
	text-align: center;
	max-height: 16px;
}


.sidebar > ul {
	margin: 5px;
	font-size: 14px;
	transition: height 2s linear;
	overflow-y: hidden;
	overflow-wrap: break-word;
	height: 90%;
}


.sidebar > ul:hover {
	overflow-y: auto;
}

.sidebar > ul > ul {
	margin-left: 3px;
	border-bottom: 2px solid;
	overflow: visible;
}


.sidebar > ul > ul span {
	overflow: visible;
}

.sidebar li {
	padding: 4px;
	padding-right: 8px;
	word-wrap: border-word;
	width: 90%;
}

.sidebar li.active a {
	color: #0060BF;
	font-size: 15px;
}

.sidebar li.active {
	// background: rgb(180, 205, 235);
}

.collapsible {
	opacity: 1;
	transition: all 500ms linear;
}


.collapsible-container {
	max-height: 600px;
	border-bottom: 2px solid rgb(180, 208, 235);
	transition: max-height 500ms ease-in;
	overflow-y: visible;
	padding-left: 5px;
	width: 90%
}


.collapsible-container.collapsed {
	max-height: 0px;
	overflow-y: hidden;
}

.collapsible-container.collapsed > .collapsible {
	opacity: 0;
}



.sidebar > .logo {
	curosr: default;
	text-align: center;
	margin: 5px;
	margin-top: 8px;
	color: #0060BF;
	font-size: 26px;
	letter-spacing: 1px;
	text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}



.list-name:hover {
	background: rgb(180, 205, 235);
}

.list-name:hover > .list-options-dropdown:after {
	content: " ▾";
	border: 1px solid black;
	font-size: 10px;
	padding: 0 3px 0 3px;
	border-radius: 25%;
	margin-bottom: 5px;
	position: relative;
	top: -3px;
	right: 3px;
	transform: rotate(90deg);
}

.ReactModalPortal input {
	border: 1px solid lightgrey;
	margin: 15px;
	width: 70%;
	display: inline-block;
	font-size: 26px;
}

.ReactModalPortal {
	font-size: 26px;
}

.ReactModalPortal button {
	display: inline-block;
	background: #2E8CEB;
	color: white;
	font-size: 26px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 4px;
}

.ReactModalPortal h2 {
	display: inline-block;
}

.ReactModalPortal .close-modal {
	cursor: pointer;
	font-size: 14px;
	float: right;
	color: grey;
}

.ReactModalPortal .close-modal:hover {
	color: black;
}

.ReactModalPortal * {
	margin-left: 15px;
}


.list-options-dropdown:hover:after {
	background: #D9E7F5;
}


.expand-enter {
	transform: scale(0.5, 0);
	transform-origin: top left;
	overflow: hidden;
	height: 0;
}

.expand-leave, .expand-enter.expand-enter-active {
    opacity: 1;
    transform: scale(1, 1);
    transform-origin: top right;
    overflow: hidden;
    height: 20px;
}

.expand-enter, .expand-leave {
    transition: all 350ms ease-out;
    -o-transition: all 350ms ease-out;
    -moz-transition: all 350ms ease-out;
    -webkit-transition: all 350ms ease-out;
}

.expand-enter.expand-enter-active {
  height: 100%;
  transition: height 500ms ease-in;
}

.title-transition-enter {
  opacity: 0.01;
}

.title-transition-enter.title-transition-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.title-transition-leave {
  opacity: 1;
}

.title-transition-leave.title-transition-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}


.task-detail-transition-enter {
  // transform: rotate(79deg)
  transform: translateX(1000px);
}

.task-detail-transition-enter.task-detail-transition-enter-active {
  // transform: rotate(3600deg);
  transform: translateX(0px);
  transition: transform 500ms;
}

.task-detail-transition-leave {
  transform: translateX(1px)
}

.task-detail-transition-leave.task-detail-transition-leave-active {
  transform: translateX(1000px);
  transition: transform 300ms ease-in;
}